asttokens
catboost
colorama
comm
contourpy
cycler
debugpy
decorator
executing
filelock
fonttools
fsspec
graphviz
imbalanced-learn
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
narwhals
nest-asyncio
networkx
numpy
packaging
pandas
parso
patsy
pillow
platformdirs
plotly
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing
python-dateutil
pyzmq
scikit-learn
scipy
setuptools
six
sklearn-compat
stack-data
statsmodels
sympy
tf-keras
threadpoolctl
torch
tornado
traitlets
typing_extensions
tzdata
wcwidth
xgboost
